.addFiles {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  z-index: 2;
}

.addFilesDiv {
  width: 4vw;
  height: 5vh;
  margin-top: 0.75vh;
  margin-right: 0.5vw;
}

.addFiles + label img {
  width: 4vw;
  height: 5vh;
  z-index: 2;
}
