.clearPlaylist {
  width: 4vw;
  height: 5vh;
  position: relative;
  top: 1.8vh;
  left: 90vw;
  z-index: 4;
}

.clearPlaylist img{
  width: 4vw;
  height: 5vh;
}

.playlistHeader {
  display: flex;
  flex-direction: row;
}
