.clearPlaylist {
  width: 4vw;
  height: 5vh;
  position: relative;
  top: 3.4vh;
  left: 48vw;
  z-index: 4;
}

.clearPlaylist img{
  width: 4vw;
  height: 5vh;
  transition: width 1s, height 1s, opacity 2s;
  transition-timing-function: ease-out;
}

.playlistHeader {
  display: flex;
  flex-direction: row;
}
