.playlistScreen {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(30, 30, 30);
}

.playlistText {
  color: #c6c6c6;
  font-size: 5vw;
  margin-top: 2vh;
  margin-left: 6vw;
  margin-bottom: 4vh;
}

.playlistHide {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
}
