.clearPlaylist {
  width: 4vw;
  height: 5vh;
  position: relative;
  top: 1.8vh;
  z-index: 4;
}

.clearPlaylist img{
  width: 4vw;
  height: 5vh;
}

.playlistHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.playlistHeader img {
  width: 5vw;
  height: 5vw;
}
