.trackTimeInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: '#FFFDE7';
  font-family: sans-serif;
}

.trackTimeInfo p {
  color: #C6C6C6;
  font-size: 1.5vw;
  display: inline-block;
}
