.trackTime {
  width: 100vw;
  height: 5px;
  margin-bottom: 3vh;
  z-index: 500;
}

#trackTimeBg {
  width: 100%;
  height: 100%;
  background-color: #c6c6c6;
}

#trackTimeProgress {
  height: 100%;
  background-color: #D50000;
}
