.trackName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2vh;
  height: 5vh;
  font-family: sans-serif;
  color: '#FFFDE7';
}

.trackName p {
  color: #C6C6C6;
  font-size: 5vh;
}
